.session-form-div {
    display: flex;
    // justify-content: center;
    margin: auto;
    width: 30%;
    // border: 1px white dotted;

    position: fixed;
    top: 20%;
    left: 2%

}

.signin-title {
    font-family: 'Spartan';
    color: white;
    font-size: 30px;
    white-space: nowrap;

    animation: basic_button 1s forwards;
}

.session-username-label {
    font-family: 'Spartan';
    color: white;
    font-size: 20px;
    text-align: right;
    padding-left: 66.5%;

    animation: basic_button 1s forwards;
}

.session-email-label {
    font-family: 'Spartan';
    color: white;
    font-size: 20px;
    text-align: right;
    padding-left: 66.5%;

    animation: basic_button 1s forwards;
}

.session-form-login-link {
    font-family: 'Spartan';
    text-decoration: none;
    color: lightgray;
    font-size: 15px;

    background-color: black;
    margin-right: 15px;
    margin-top: 25px;

    animation: basic_button 1s forwards;
    transition-duration: 0.5s;
}

.session-form-signup-link {
    font-family: 'Spartan';
    text-decoration: none;
    color: lightgray;
    font-size: 15px;

    background-color: black;
    margin-right: 15px;
    margin-top: 25px;

    animation: basic_button 1s forwards;
    transition-duration: 0.5s;
}

.session-form-login-link:hover {
    color: #ff5500;
}

.session-form-signup-link:hover {
    color: #ff5500;
}

.session-signupinstead-link-div {
    display: flex;
    position: fixed;
    // bottom: 43%;
    // left: 13%;
    top: 24%;
    left: 15%;
    text-decoration: none;
    color: grey;
}

.session-logininstead-link-div {
    display: flex;
    position: fixed;
    // bottom: 43%;
    // left: 13%;
    top: 24.3%;
    left: 16.2%;
    text-decoration: none;
    color: grey;
}


.session-password-label {
    font-family: 'Spartan';
    color: white;
    font-size: 20px;
    // padding-right: 1.1%;
    padding-left: 66.5%;


    animation: basic_button 1s forwards;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    // border: 0.3px solid #ff5500;
    // background-color: #ff5500;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;


    animation: basic_button 1s forwards;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #ff5500;

}

.login-image {
    opacity: 40%;
    position: fixed;
    right: 4%;
    bottom: -1%;
    height: 400px;
    width: 400px;

    animation: basic_button 7s forwards;
}

.signup-image {
    opacity: 40%;
    position: fixed;
    right: 4%;
    bottom: -1%;
    height: 400px;
    width: 400px;

    animation: basic_button 7s forwards;
}

.signin-word {
    color: #ff5500;
}

.login-visual-div {
    background-color: white;

    position: fixed;
    top: 10%;

    animation: login-visual-div 250s forwards;
};

.signup-visual-div {
    background-color: #ff5500;

    position: fixed;
    bottom: 10%;

    animation: login-visual-div 250s forwards;
};

@keyframes login-visual-div {
    0% {background-color: #ff5500}
    2% {background-color: white}
    100% {background-color: white;}

    0% {opacity: 30%}
    2.5% {opacity: 100%}
    100% {opacity: 100%;}

    0% {transform: translateX(180%)}
    1.5% {transform: translateX(480%)}
    100% {transform: translateX(480%)}

    0% {height: 16%}
    2% {height: 16%}
    3.5% {height: 105%}
    100% {height: 105%}

    0% {width: 60%}
    2% {width: 15%}
    100% {width: 15%}

    0% {border-radius: 0%}
    2% {border-radius: 0%}
    5% {border-radius: 4%}
    100% {border-radius: 4%}
}

// .login-visual-div-2 {
//     background-color: #ff5500;

//     position: fixed;
//     top: 10%;

//     animation: login-visual-div-2 300s forwards;
// };

@keyframes login-visual-div {
    0% {background-color: white}
    2% {background-color: #ff5500}
    100% {background-color: #ff5500;}

    0% {opacity: 30%}
    2.5% {opacity: 100%}
    100% {opacity: 100%;}

    0% {transform: translateX(180%)}
    1.5% {transform: translateX(480%)}
    100% {transform: translateX(480%)}

    0% {height: 16%}
    2% {height: 16%}
    3.5% {height: 105%}
    100% {height: 105%}

    0% {width: 60%}
    2% {width: 15%}
    100% {width: 15%}

    0% {border-radius: 0%}
    2% {border-radius: 0%}
    5% {border-radius: 4%}
    100% {border-radius: 4%}
}

// @keyframes login-visual-div-2 {
//     0% {background-color: #ff5500}
//     2% {background-color: white}
//     100% {background-color: white;}

//     0% {opacity: 30%}
//     2.5% {opacity: 100%}
//     100% {opacity: 100%;}

//     0% {transform: translateX(180%)}
//     1.5% {transform: translateX(580%)}
//     100% {transform: translateX(580%)}

//     0% {height: 16%}
//     2% {height: 16%}
//     3.5% {height: 105%}
//     100% {height: 105%}

//     0% {width: 60%}
//     2% {width: 15%}
//     100% {width: 15%}

// }

// .session-form-button {
//     font-family: 'Spartan';
//     // text-decoration: none;
//     // color: #ff5500;
//     font-size: 22px;

//     // background-color: black;
//     margin-right: 15px;
//     margin-top: 25px;

//     animation: basic_button 8s forwards;
// }

.session-form-button {
    font-family: 'Spartan';
    font-size: 20px;
    margin-right: 15px;
    margin-top: 25px;
    padding: 6px;
    border-radius: 3px;
    font-size: 20px;
    
    color: white;
    background-color: black;
    border: 1px solid whitesmoke;

    transition-duration: 0.5s;
    animation: basic_button 8s forwards;
}

.session-form-button:hover {
    border: 1px solid black;
    color: black;
    background-color: #ff5500;
}

@keyframes basic_button {
    0% {opacity: 0%}
    100% {opacity: 100%}
    0% {translateY: (-10%)}
    100% {translateY: (0%)}
}

@keyframes label_hover {
    0% {color: white}
    100% {color: #ff5500}
    // 100% {color: white}
}

